    body {
        text-align: center;
        padding-top: 5vh;
        font-family: inherit;
        background: white;
        /*   background: radial-gradient(#55d37d 20%, #21c804); */
    }
    
    h1 {
        font-size: 40px;
        color: #3984B9;
        text-shadow: 1px 1px 2px grey;
    }
    
    #oboznachenie {
        font-size: 30px;
        color: #333333;
    }
    
    #primechanie {
        font-size: 15px;
        color: grey;
        padding-top: 3vh;
        font-style: italic
    }
    
    #razdel {
        padding-top: 5vh;
    }
    
    div.diagram {
        position: relative;
        color: grey;
        font-size: 12px;
        width: 100px;
        top: 50%;
        max-width: 1200px;
        min-width: 200px;
        max-height: 1000px;
        height: auto;
        width: auto;
        margin: 0 auto;
        font-weight: 600;
        color: #333333;
    }
    
    div.note {
        position: relative;
        font-size: 1.5vh;
        line-height: 2vh;
        font-weight: 400;
        color: grey;
    }
    
    #footer {
        position: fixed;
        /* Фиксированное положение */
        left: 0;
        bottom: 0;
        /* Левый нижний угол */
        padding: 10px;
        /* Поля вокруг текста */
        background: #489EE2;
        /* Цвет фона */
        color: #fff;
        /* Цвет текста */
        width: 100%;
        /* Ширина слоя */
        font-size: 15px;
        z-index: 100
        /* Поверх всех контейнеров */
    }
    
    #odometer_id {
        /*text-shadow: 1px 1px 2px #000000; */
        position: relative;
        /*margin: 40px 0; */
        /*padding: 14px 16px;*/
        font-size: 60px;
        line-height: 55px;
        font-weight: 600;
        /*border-radius: 5px;*/
        /*display: inline-block;*/
        color: #333333;
        /*-webkit-box-shadow: 6px 6px 20px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 6px 6px 20px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 20px 2px rgba(0, 0, 0, 0.5);*/
        /*animation: bkgd 50s infinite;*/
    }
    
    .odometer {
        margin-top: 40px;
    }